/*!CK:3243702113!*//*1428508052,*/

._5n0j{margin:0 20px}._5n0k{padding-bottom:0}
._684{padding:32px 0;text-align:center}._i4-{padding-bottom:8px}._52dg .uiList li,._52dg .uiList li:last-child,._52dg .uiList li:first-child{padding:2px 0}._2xa .uiList li:first-child,._52dg .uiList li:first-child{border-top:1px solid #bdc1c9}._2xa .uiList li:first-child{padding-top:10px}
._4-ae{width:100px}._14b4{height:30px}._14b4 input{font-size:14px;outline:none}
._2yr5{padding-left:8px;width:226px}._22uv{padding-left:28px;width:206px}._22uv,._2yr5{border:1px solid #dcdee3;padding-bottom:7px;padding-right:8px;padding-top:8px}.__n- ._2yrf{display:block}._2yrf img{height:23px;left:4px;position:absolute;top:3px;width:23px}.__n_{display:none}

#bootloader_lmMWk { height: 42px; }
.bootloader_lmMWk { display:block !important; }